/*==Universal styles==*/
html {
}

body {
   background-color: #ffffff;
   font-family: 'Raleway', Helvetica, sans-serif;
   font-size: 19px;
   margin: 0 auto;
}
/*==Return Home Navbar==*/
.navbar navbar-default navbar-fixed-top {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    overflow: hidden;
    background-color: #efefef;
    z-index: 5;
    font-size: 18px;
}
.navbar navbar-default navbar-fixed-top a {
    text-decoration: none;
    padding: 14px 16px;
    z-index: 5;
}
/*==Titlecard==*/
.divider {
	background-color:#939393;
	height:1px;
	width:70%;
    margin:0 auto;
}
.titlecard { 
    background-position: center;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
    height: 5vh;
    padding-top: 5vw;
    text-align: center;
    margin: 10vh;
    padding: 5vw;
}
.titlecard h1 {
    font-size: 70px;
    text-align: center;
    margin: 0;
}
/*==Experience page==*/

.experienceText {
	margin:0 3rem;
	overflow-wrap: normal;
	padding: 50px;
}

.experienceText li {
	padding: 20px;
	margin:0 auto;
	width: 100%;
}
.experienceLogo {
	display: block;
	position: absolute;
	right: 0px;
    padding: 4vw 0vw 1vw 5vw;
}