/*==Universal styles==*/
html {
}

body {
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 30px;
    margin: 0 auto;
    height: 100%;
    color: #ffffff;
}
body, html {
    height: 100%;
}
/*== Titlecard ==*/
.title { 
    background-image: url("/img/coverphoto.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 10vh;
    text-align: center;
}
.titlecard h1 {
    font-size: 90px;
    text-align: center;
    margin: 0 auto;
    display: none;
    padding-bottom: 15vw;
}
.divider {
	background-color:white;
	height:1px;
	width:70%;
    margin:2vw auto;
}
/*==Main Screen==*/
.a {
	text-decoration: none;
}

.intro {
    margin: 0 auto;
    padding: 20px;
    width: 35%;
}
.into p {
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    margin:0 auto;
}

/*==Circular Menu==*/
.menu {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.center {
    width: 110px;
    height: 110px;
    background-color: rgb(131, 195, 255);
    border-radius: 100%;
    position: relative;
    line-height: 100px;
    text-align: center;
    padding:10px;
}
#_middle {
    font-size:40px;
}
.button {
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background-color: #efefef; 
    line-height: 100px;
    text-align: center;
    padding:10px;
}
.fas {
    color: #000000;
    font-size: 3vw !important;
}
