/*==Universal styles==*/
html {
}

body {
   background-color: #ffffff;
   font-family: 'Raleway', Helvetica, sans-serif;
   font-size: 19px;
   margin: 0 auto;
}
body, html {
   height: 100%;
}
/*==Return Home Navbar==*/
.navbar navbar-default navbar-fixed-top {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    overflow: hidden;
    background-color: #efefef;
    z-index: 5;
    font-size: 18px;
}
.navbar navbar-default navbar-fixed-top a {
    text-decoration: none;
    padding: 14px 16px;
}
.navbar navbar-header {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
/*==Biography==*/
.intro {
    margin: 0 auto;
    padding: 20px;
}
.image {
	padding-top: 12vh;
}
.image img{
	display: block;
    margin-left: 15vw;
    width: 220px;
    border-radius: 110px;
}
p, p1 {
    padding: 5px 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.list-paragraph li {
    font-size: 16px;
    text-decoration: none;
}

.headline {
	margin:0 auto;
	font-size: 5vw;
	text-align: center;
	width:100%;
}