/* Universal styles */
html {
 }

body {
	background-color: #ffffff;
	font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 30px;
}

h1{
	
}

.titlecard h1 {
    background: url("/coverphoto.jpg") no-repeat center center;
    text-align: center;
    font-size: 50px;
    position: center;
    background-repeat: no-repeat;
    background-size: 100 px 50 px;
    background-size: cover;
    max-width: 767px;
}

h2 {
    font-size: 40px;
    text-align: center;
}

h3 {
    font-size: 40px;
    text-align: center;
}
a {
	text-decoration: none;
}

p {

}

.list-paragraph li{
    font-size: 16px;
    text-decoration: none;

}
#studies, #projects, #travels, #interests, #contact {
	padding-top: 77px;
  	margin-top: -77px;
}

/* Dropdown Menu */
.navbar {
    overflow: hidden;
    background-color: #efefef;
    z-index: 5;
}
.navbar a {
    text-decoration: none;
    float: left;
    padding: 14px 16px;
    z-index: 5;
}
/* Dropdown Button */
.dropbtn {
    background-color: #efefef;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/* END of Dropdown Menu */
