/* Universal styles */
html {
 }

body {
	background-color: #ffffff;
	font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 18px;
}
/* for cover photo */
body, html {
    height: 100%;
}

.titlecard { 
    /* The image used */
    background-image: url("/coverphoto.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 10vh;
    text-align: center;
}

.titlecard h1{
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 20px;
    margin: auto;
    text-align: center;
}

h3 {
    font-size: 20px;
    text-align: center;
    margin: auto;
}
a {
	text-decoration: none;
}

p, p1 {
    margin-left: 20px;
    margin-right: 20px;
    margin: auto;
}

.list-paragraph li{
    font-size: 16px;
    text-decoration: none;

}
#studies, #experience, #travels, #interests {
	padding-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
#studies {
    padding-top: 50px;
    margin-left: 20px;
    margin-right: 20px;   
}
#interests {
    font-size: 16px;
}
/* Dropdown Menu */
.navbar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    overflow: hidden;
    background-color: #efefef;
    z-index: 5;
}
.navbar a{
    text-decoration: none;
    padding: 14px 16px;
    z-index: 5;
}

.navbar_name {
    text-align: center;
    font-size: 24px;
    color: #000000;
}

/* Dropdown Button */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: #efefef;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #efefef;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}/* END of Dropdown Menu */
.resumeBtn col-sm-6 {
    margin: 0 auto;
    color: #ffffff;
}
.contact-bar {
    width: 100%;
    background-color: #ffffff; 
    overflow: auto;
    padding-bottom: 5vh;
    text-align: center;
    margin: 0 auto;
}

.contact-bar a {
    text-align: center; 
    width: 20%;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
    margin: 0 auto;
    padding-bottom: 5vh;
}

.contact-bar a:hover {
    background-color: #ffffff; /* Add a hover color */
    margin: 0 auto;
}

.active {
    background-color: #ffffff; /* Add an active/current color */
}