/*== Sidebar ==*/

.sidebar {
    width: 8vw;
    overflow: auto;
    font-size:100px;
    text-align: center;
    position: fixed;
    top: 17vh;
    right: 1vw;
    overflow-x: hidden;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}
