
/*==Main Screen==*/
.a {
	text-decoration: none;
}

/*== Titlecard ==*/
.titlecard { 
    background-position: center;
    height: 100vh;
    text-align: center;
}
.titlecard h1 {
    font-size: 90px;
    text-align: center;
    margin: 0 auto;
    display: none;
    padding-bottom: 15vw;
    top:100%;
    background-image: linear-gradient(black, #d5d5d5);
}

/*== Profile Image ==*/
.profileImg img {
    width: 20%;
    height: 20%;
    display: block;
    margin-left: auto;
}
.img-circle {
    border-radius: 50%;
    border: 0;
}

.gradient {
    background-image: linear-gradient(black, white);
}

/*== About Me ==*/
.bio {
    background-color:#d5d5d5;
    margin: 0 auto;
    padding: 10vh;
}
.bio h2 {
    text-align: center;
    font-size: 30px;
    padding: 2vh;
    margin: 0;
    position: relative;
    font-weight: bold;
}
.introText {
    margin:0 3rem;
	overflow-wrap: normal;
	padding: 50px;
}
.divider {
	background-color:black;
	height:1px;
	width:20vw;
    margin:2vw auto;
}
/*== Experience ==*/

.experienceText {
	margin:0 3rem;
	overflow-wrap: normal;
	padding: 50px;
}

.experienceText li {
	padding: 20px;
	margin:0 auto;
	width: 100%;
}
.experienceLogo {
	display: block;
	position: absolute;
	right: 0px;
    padding: 4vw 0vw 1vw 5vw;
}

/*==Projects==*/

.experienceText {
	margin:0 auto;
	overflow-wrap: normal;
	padding: 40px;
}

