
/*==Main Screen==*/
.a {
	text-decoration: none;
}

/*== Titlecard ==*/
.titlecard { 
    background-position: center;
    height: 100vh;
    text-align: center;
}
.titlecard h1 {
    font-size: 90px;
    text-align: center;
    margin: 0 auto;
    display: none;
    padding-bottom: 15vw;
}

/*== Profile Image ==*/
.profileImg {
    z-index: 10;
    border-radius: 50%;
    position: relative;
    width: 50%;
    height: 50%;
}

.gradient {
    background-image: linear-gradient(black, white);
}
/*==Experience==*/

.experienceText {
	margin:0 3rem;
	overflow-wrap: normal;
	padding: 50px;
}

.experienceText li {
	padding: 20px;
	margin:0 auto;
	width: 100%;
}
.experienceLogo {
	display: block;
	position: absolute;
	right: 0px;
    padding: 4vw 0vw 1vw 5vw;
}

/*==Projects==*/

.experienceText {
	margin:0 auto;
	overflow-wrap: normal;
	padding: 40px;
}

