/*== Sidebar ==*/

.sidebar {
    width: 8vw;
    overflow: auto;
    font-size:100px;
    text-align: center;
    position: fixed;
    z-index: 1;
    top: 17.5vh;
    right: 1vw;
    overflow-x: hidden;
}

.resume, .mail, .linkedin, .github{
    padding: 5em;
    flex-grow: 1;
    flex-shrink: 1;
    top: 1rem;
    margin-top: -40px;
}

.circle {
    background: black;
    font-size: 30px;
    text-align: center;
    margin-right: 10px;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display:inline-block;
    padding:1.5rem;
}
.circle:hover {
    background: grey;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}
